input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 12px;
}

button {
  color: white;
  transition: background-color 0.3s ease;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
}
button:hover {
  background-color: #555;
}
